<div class="container">
  <h1>Add a new restaurant</h1>
  <%= simple_form_for @restaurant do |f| %>
    <%= f.input :name, placeholder: 'Spice Shakes' %>
    <%= f.input :address, placeholder: 'Lausanne' %>
    <%= f.input :phone_number, placeholder: '0213456789' %>
    <%= f.input :category, collection: Restaurant::CATEGORIES, include_blank: false %>
    <%= f.submit 'Add', class: 'btn btn-primary' %>
  <% end %>
</div>
